*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.form-container.active{
    scale: 1;
    opacity: 1;
    display: flex;

}

.wrapper{
    background: linear-gradient(180deg, #3e8fda 0%, #1c1858 100%);
    width: 100vw;
    height: 100vh;
    color: whitesmoke;
}

h1{
    text-align: center;
    text-transform: uppercase;
    padding-top: 20px;
}

.tab-container{
    display: flex;
    max-width: 550px;
    justify-content: space-between;
    margin: 0 auto;
    width: 90%;
    margin-top: 4rem;
}

.tab{
    cursor: pointer;
    font-size: 0.875rem;
    letter-spacing: 1.75px;
    padding: 5px 8px;
    
}


.tab.current-tab{
    background-color: rgba(219, 226, 239, 0.5);
    border-radius: 4px;
}

.weather-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-block: 4rem
    ;
}

.btn{
    all: unset;
    background-color: rgba(131, 166, 230, 0.5);
    text-transform: uppercase;
    border-radius: 5px;
    font-size: 0.75rem;
    padding: 5px 14px;
    box-shadow: none;
    border: none;
    color: white;
    cursor: pointer;
    margin-bottom: 10px;
    
}

.sub-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}

.grant-location-container{
  display: none;

}

.grant-location-container.active{
    display: flex;
}

.grant-location-container img{
    margin-bottom: 2rem;

}

.grant-location-container p:first-of-type{
    font-size: 1.75rem;
    font-weight: 500;
    text-align: center;
    
}
.grant-location-container p:last-of-type{
    font-size: 0.85rem;
    font-weight: 500;
    letter-spacing: 0.56px;
    margin-bottom: 1.75rem;

}


.loading-container{
 display: none;   
}

.loading-container.active{
    display: flex;
}
.loading-container p{
    text-transform: uppercase;
}

.user-info-container{
    display: none;

}
.user-info-container.active{
    display: flex;
    margin-top: 20px;
    
}
.name{
    display: flex;
    flex-direction: row;
    gap: 0 0.5rem;
    margin-bottom: 5px;
    
}
.name img{
    width: 30px;
    height: 30px;
    margin-top: 10px;
    margin-left: 10px;


}

.name p{
    font-size: 2rem;
}

.wdesc{
    font-size: 1.5rem;
    font-weight: 200;
}

.tempinfo{
    font-size: 1.5rem;
}

.parameter-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.parameter{
    width: 150px;
    height: 150px;
    margin: 20px;
    background-color: rgba(219, 226, 239, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;

}

.parameter img{
    width: 70px;
    height: 70px;
}
.parameter p{
    font-size: 1.3rem;
}

.form-container{

    display: none;
    width: 90%;
    max-width: 550px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    gap: 0 10px;
    margin-bottom: 3rem;

}

.form-container.active{
    display: flex;
}

.form-container input{
    all: unset;
    width: 50%;
    height: 40px;
    padding: 0 20px;
    background-color: rgba(131, 166, 230, 0.5);
    border-radius: 10px;
    columns: white;

}

.form-container input::placeholder{
    color: white;
}
.form-container button{
    margin-top: 10px;
        
}
.form-container button img{
    margin-top: 3px;
}

